@{
    ViewBag.Title = "About";
}
<h1>The Story Behind Mission Connections</h1>

<p>Missions are scary--something that we tell lots of people. You're placed in a new location, with a new culture, new people, and sometimes a new language. However, knowing before you go will help you feel comfortable when you get there. Answers from real returned-missionaries will provide candid feedback to help you prepare to serve the best mission you can. Additionally, relying upon information from these RMs will help save money, by reducing unnecessary purchases.</p>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            
            <img src="~/Content/missionaries1.jpg" id="picture" />
        </div>
        <div class="col-md-4">

            <img src="~/Content/missionaries2.jpg"  id="picture" />
        </div>
        <div class="col-md-4">

            <img src="~/Content/missionaries3.jpg"  id="picture" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">

            <img src="~/Content/missionaries4.jpg" id="picture" />
        </div>
        <div class="col-md-4">

           <br /><br /><br /> <h4><i style="align-content:center">With Mission Connections you'll feel comfortable in your mission before you step off the plane.</i></h4>
        </div>
        <div class="col-md-4">

            <img src="~/Content/missionaries7.jpg" id="picture" />
        </div>
    </div>
</div>

<style>
    



    #picture {
        width: 300px;
        /*margin-left:10px; */
        /*margin-right:10px; */
    }

    .col-lg-4 {
        margin-left: 10px;
        margin-right: 10px;
    }


</style>
